*.pyc
.ipynb*
pycache/
.ipynb_checkpoints/
_old/
__pycache__/
local_*
dist/
build/
*.egg-info/
MANIFEST
physipy_venv/
tutorials/
docs/Calculus.ipynb
docs/Decorators.ipynb
docs/Dimension.ipynb
docs/Numpy.ipynb
docs/Performance.ipynb
docs/Plotting.ipynb
docs/Repr.ipynb
